@import url(./reset.css);

/*-------------------------- Container Rules --------------------------*/

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

/*------------------------------ Body BG ------------------------------*/

body {
    background: #fff url("../image/merging-waves.jpg") center center / cover no-repeat;
}

/*------------------------------- Header -------------------------------*/

header {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

h2 {
    color: #fff;
    margin-top: 15px;
    font-size: 30px;
}

li a {
    color: #fff;
}

ul li {
    float: left;
    margin-right: 20px;
    margin-top: 25px;
    font-size: 25px;
    line-height: 25px;
}