/*-------------------------- Global Rules --------------------------*/

@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@keyframes text-intro {
    from {
        transform: translateY(-300%);
        filter: blur(10px);
    } to {
        transform: translateY(0%);
        filter: none;
    }
}

@keyframes intro-right {
    from {
        width: 0;
        font-size: 0;
        transform: translateX(200%);
        filter: blur(10px);
    } to {
        transform: translateX(0%);
        filter: none;
    }
}

@keyframes intro-header {
    0% {
        visibility: hidden;
        filter: blur(100px);
    }
    100% {
        visibility: visible;
        filter: none;
    }
}

/*-------------------------- Container Rules --------------------------*/

.hero-container {
    width: min(100% - 30px, 97%);
    margin-inline: auto;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

/*------------------------------ Scrollbar ------------------------------*/

::-webkit-scrollbar {
    background-color: #000;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.1, #DF2407), color-stop(1, #F99204));
    border-radius: 5px;
}

/*------------------------------ Body BG ------------------------------*/

body {
    background-color: #f0f2f4;
    font-family: "Quicksand";
    width: 100%;
}

/*------------------------------ Hero Banner ------------------------------*/

.hero-img {
    height: 100vh;
    background-image: linear-gradient(0.25turn, #ffab00 38%, #00b089);
    padding: 30px 0;
}

.hero-frame {
    background: url("../image/merging-waves.jpg") center center / cover no-repeat;
    border: 1px solid #fff ;
    margin: 0 30px;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

h2 {
    color: #fff;
    margin-top: 5px;
    font-size: 60px;
    font-weight: 300;
    animation: text-intro 0.75s ease-in 1 normal;
}

li a {
    color: #fff;
}

nav ul li {
    float: left;
    margin-right: 20px;
    margin-top: 25px;
    font-size: 25px;
    line-height: 25px;
}

.hero-text {
    margin: 20px auto 0 26px;
    width: 50%;
    color: #fff;
}

.hero-about {
    color: #fff;
    width: 185px;
    position: absolute;
    bottom: 50px;
    right: 52px;
    animation: intro-right 0.75s ease-in 1 normal forwards;
}

/*--------------------------- Main Sections ---------------------------*/

main {
    padding: 0 30px;
}

/*------------------------------ About Me ------------------------------*/

#about-me {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    margin: 30px auto;
    padding: 20px 30px;
    min-height: 300px;
    max-width: 1000px;
}

#about-me h3 {
    visibility: hidden;
    font-size: 40px;
    animation: intro-header 0.75s ease-in 2s 1 normal forwards;
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.about-text {
    width: 50%;
    padding-top: 20px;
}

.face {
    max-width: 200px;
    height: auto;
    float: right;
    margin-right: 100px;
}

/*------------------------------ Contact Me ------------------------------*/

#contact-me {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    margin: 30px auto;
    padding: 20px 30px;
    min-height: 300px;
    max-width: 1000px;
}

#contact-me h3 {
    visibility: hidden;
    font-size: 40px;
    animation: intro-header 1s ease-in 3s 1 normal forwards;
}

#contact-me p {
    margin: 10px 0;
}

#contact-me p + p {
    padding: 30px 30px;
    display: flex;
    justify-content:space-around;
}

#contact-me a {
    color: #000;
    font-size: 22px;
}

/* Styles for a future contact form */
/* form {
    height: 350px;
    width: 581px;
    margin: 0 auto;
}

#contact-me input, textarea {
    background: rgba(0, 0, 0, 0.1);
    height: 50px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

#name {
    width: 49%;
    margin-left: 0;
    float: left;
    clear: none;
}

#email {
    width: 49%;
    margin-left: 2%;
    float: left;
    clear: none;
}

#subject {
    width: 100%;
}

#message {
    width: 581px;
    height: 150px;
    resize: none;
}

#send {
    width: 25%;
} */

/*------------------------------ Footer ------------------------------*/

footer {
    height: 70px;
    background-color: #ffab00;
}

footer p {
    line-height: 70px;
    font-size: 22px;
    color: #000;
}

footer p i {
    padding: 10px;
    margin-right: 20px;
    border: 2px solid rgb(0, 0, 0, 0.7);
    border-radius: 50%;
}

footer a {
    color: #000;
}

footer .foot {
    display: flex;
    justify-content: space-between;
}